@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";

html,
body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  min-height: 100%;
}
/* Normal highlight */
.rpv-search__highlight {
  background: rgba(56, 189, 248, 0.35) !important;
  border-radius: 4px;
  transition: background 0.3s ease;
}

/* Active match */
.rpv-search__highlight--selected {
  background: rgba(234, 179, 8, 0.55) !important;
}
